
h1{
    color:black;
}
.bd{
	float:right-side ;
	background-image: url("poster (7).jpg");
    background-size: 100%;
	background-repeat:no-repeat;
	color: black;
	font-size:21px;
	font-family:garamond;
    text-align: center;
    
}

input[type=button]:hover {
    background-color: darksalmon;
}

.container {
font-family: garamond;
font-size: 30px;
text-align:center;
font-family: bold;
color: white;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:black;
}
li{
	display:inline;
	float:left;
	tab-size:4;
	
}
li a {
    display: block;
    color: white;
    text-align: center;
   padding: 15px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: salmon;
}

.active {
    background-color: powderblue;
}
.color{
	color:white;
}