<!DOCTYPE html>
<html>
<head><link rel="icon" href="guest.jpg" sizes="128x128">
<meta charset="utf-8">
<title>Karun's Guestbook</title>
<link rel="stylesheet" href="guestbook.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="bd">
    <nav>
        <ul>
            <li><a class="active"href="default">KARUNAKAR</a></li>
            <li><a href="about">HOME</a></li>
            <li><a href="logic">LOGIC</a></li>
            <li><a href="contact">CONTACT</a></li>
            <li><a href="/guestbook">GUESTBOOK</a></li>
        </ul>
    </nav>
<h1 class="container">
Karun's Guestbook</h1>
<h2><a href="/new-entry" class="btn btn-primary pull-center">
Write in the guestbook
</a>
</h2>
</body>
</html>